body{
    color: #111111;
    padding-left: 30px;
    margin-left: 25%;
    background-image: url(mac.jpg);
    

}
img{
    align-items: center;
    margin-right: 35%;
    border-radius: 50%;
}
.intro{
    color: #ff0000;
}
.skills{
    color: rgb(250, 205, 6);
    
}
th, td{
    border: 1px solid red;
    background-color: aqua;
    border-radius: 10px;
    border-style: dotted;
    margin-left: 50%;
    color: red;


}
tr{
    height: 20px;
    border-bottom: 1px solid #add;
}
tr :nth-child(odd){
    background-color: blue;
}
th:nth-child(even){
    background-color: #ffff;
}
tr :hover{
    background-color: black;
    cursor: pointer;
}
.contact{
    cursor: pointer;
    color: red;
}
.contact:hover{
    color: whitesmoke;
}
    
